@model RestaurantAggregator.AdminPanel.Models.Restaurant.RestaurantModel

@{
    ViewBag.Title = "Edit restaurant";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <input type="text" name="name" value="@Model.Name"/>
    <input type="hidden" name="id" value="@Model.Id"/>
    <button type="submit">Save</button>
</form>

<div style="display:flex">
    <form asp-controller="Manager" asp-action="Index">
        <button type="submit" name="restaurantId" value="@Model.Id">Managers</button>
    </form>
    <form asp-controller="Cook" asp-action="Index">
        <button type="submit" name="restaurantId" value="@Model.Id">Cooks</button>
    </form>
    <form asp-controller="RestaurantStaff" asp-action="CourierIndex">
        <button type="submit" name="restaurantId" value="@Model.Id">Couriers</button>
    </form>
</div>

<form asp-action="Delete" method="post">
    <button style="background: orangered" type="submit" name="id" value="@Model.Id">Delete</button>
</form>